.status-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: #656565;
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  padding: 20px 20px;
  background-color: #fcfcfc;
  border-bottom: #f7f7f7;
}

.status-bar i {
  font-size: 14px;
}

.status-bar .status-bar_battery-level {
  margin-left: 5px;
}
